
<footer class="footer">
    <!-- <div class="powered_by">
        <a href="https://github.com/Leon-zym/">GitHub</a>
        <a href="https://www.instagram.com/leon.zym/">Instagram</a>
        <a href="https://weibo.com/u/3594583821/">Weibo</a>
    </div> -->

    <!-- <div class="footer_slogan">
        <span>{{ .Site.Params.footerSlogan }}</span>
    </div> -->

    <!-- TODO -->

    <div class="my_socials">
        {{ range.Site.Menus.main }}
        <a href="{{ .URL | safeURL }}">{{ .Name }}</a>
        {{ end }}
    </div>
</footer>